<section class="container main-nav-section calendar" id="calendar">
	<h1>
		<div class="header-icon"></div>
		календар
	</h1>
	<div class="section-content d-none d-sm-none d-md-none d-lg-block d-xl-block">
		<div class="row">
			<div class="col-xl-2 col-lg-2">
				<div class="arrow"></div>
				<a href="" class="future event">
					<div class="date">5 юни 2019</div>
					<div class="dot-container">
						<div class="dot"></div>
					</div>
					<div class="name">Витоша 100</div>
				</a>
			</div>
			<div class="col-xl-2 col-lg-2">
				<a href="" class="future event highlight">
					<div class="date">5 април 2019</div>
					<div class="dot-container">
						<div class="dot"></div>
					</div>
					<div class="name">Картинг DRIVE</div>
				</a>
			</div>
			<div class="col-xl-2 col-lg-2">
				<a href="" class="past event">
					<div class="date">12 февруари 2019</div>
					<div class="dot-container">
						<div class="dot"></div>
					</div>
					<div class="name">Renault MorningRun</div>
				</a>
			</div>
			<div class="col-xl-2 col-lg-2">
				<a href="" class="past event">
					<div class="date">2 февруари 2019</div>
					<div class="dot-container">
						<div class="dot"></div>
					</div>
					<div class="name">Минало събитие</div>
				</a>
			</div>
			<div class="col-xl-2 col-lg-2">
				<a href="" class="past event">
					<div class="date">2 февруари 2019</div>
					<div class="dot-container">
						<div class="dot"></div>
					</div>
					<div class="name">Минало събитие</div>
				</a>
			</div>
			<div class="col-xl-2 col-lg-2">
				<a href="" class="past event">
					<div class="date">1 януари 2019</div>
					<div class="dot-container">
						<div class="dot"></div>
					</div>
					<div class="name">Минало събитие</div>
				</a>
				<svg style='width: 25px; height: 140px;'>
					<line x1="0" y1="140" x2="25" y2="0"
								style="stroke:#949494;stroke-width:1"/>
				</svg>
			</div>
		</div>
		<div class="row">
			<div class="col-xl-2 col-lg-2">
				<a href="" class="past event">
					<div class="date">11 декември 2018</div>
					<div class="dot-container">
						<div class="dot"></div>
					</div>
					<div class="name">Минало събитие</div>
				</a>
			</div>
			<div class="col-xl-2 col-lg-2">
				<a href="" class="past event">
					<div class="date">11 ноември 2018</div>
					<div class="dot-container">
						<div class="dot"></div>
					</div>
					<div class="name">Минало събитие</div>
				</a>
			</div>
			<div class="col-xl-2 col-lg-2">
				<a href="" class="past event">
					<div class="date">2 октомври 2018</div>
					<div class="dot-container">
						<div class="dot"></div>
					</div>
					<div class="name">Минало събитие</div>
				</a>
			</div>
			<div class="col-xl-2 col-lg-2">
				<a href="" class="past event">
					<div class="date">3 септември 2018</div>
					<div class="dot-container">
						<div class="dot"></div>
					</div>
					<div class="name">Минало събитие</div>
				</a>
			</div>
			<div class="col-xl-2 col-lg-2">
				<a href="" class="past event">
					<div class="date">5 август 2018</div>
					<div class="dot-container">
						<div class="dot"></div>
					</div>
					<div class="name">Минало събитие</div>
				</a>
			</div>
			<div class="col-xl-2 col-lg-2">
				<a href="" class="past event">
					<div class="date">5 юли 2018</div>
					<div class="dot-container">
						<div class="dot"></div>
					</div>
					<div class="name">Минало събитие</div>
				</a>
				<svg style='width: 25px; height: 140px;'>
					<line x1="0" y1="140" x2="25" y2="0"
								style="stroke:#949494;stroke-width:1"/>
				</svg>
			</div>
		</div>
		<div class="row">
			<div class="col-xl-2 col-lg-2">
				<a href="" class="past event">
					<div class="date">12 юни 2018</div>
					<div class="dot-container">
						<div class="dot"></div>
					</div>
					<div class="name">Минало събитие</div>
				</a>
			</div>
			<div class="col-xl-2 col-lg-2">
				<a href="" class="past event">
					<div class="date">5 април 2018</div>
					<div class="dot-container">
						<div class="dot"></div>
					</div>
					<div class="name">Минало събитие</div>
				</a>
			</div>
			<div class="col-xl-2 col-lg-2">
				<a href="" class="past event">
					<div class="date">3 март 2018</div>
					<div class="dot-container">
						<div class="dot"></div>
					</div>
					<div class="name">Минало събитие</div>
				</a>
			</div>
			<div class="col-xl-2 col-lg-2">
				<a href="" class="past event">
					<div class="date">2 февруари 2018</div>
					<div class="dot-container">
						<div class="dot"></div>
					</div>
					<div class="name">Минало събитие</div>
				</a>
			</div>
			<div class="col-xl-2 col-lg-2">
				<a href="" class="past event">
					<div class="date">1 януари 2018</div>
					<div class="dot-container">
						<div class="dot"></div>
					</div>
					<div class="name">Минало събитие</div>
				</a>
			</div>
			<div class="col-xl-2 col-lg-2">
				<a href="" class="past event">
					<div class="date">12 декември 2017</div>
					<div class="dot-container">
						<div class="dot"></div>
					</div>
					<div class="name">Минало събитие</div>
				</a>
			</div>
		</div>
	</div>
	<div class="section-content d-block d-sm-block-d-md-block d-lg-none d-xl-none">
		<a href="" class="future event">
			<div class="row">
				<div class="date col-6">
					<div>5 юни 2019</div>
					<div class="dot"></div>
				</div>
				<div class="name col-6">Витоша 100</div>
			</div>
		</a>
		<a href="" class="future event highlight">
			<div class="row">
				<div class="date col-6">
					<div>5 април 2019</div>
					<div class="dot"></div>
				</div>
				<div class="name col-6">Картинг DRIVE</div>
			</div>
		</a>
		<a href="" class="past event">
			<div class="row">
				<div class="date col-6">
					<div>12 февруари 2019</div>
					<div class="dot"></div>
				</div>
				<div class="name col-6">Renault MorningRun</div>
			</div>
		</a>
		<a href="" class="past event">
			<div class="row">
				<div class="date col-6">
					<div>2 февруари 2019</div>
					<div class="dot"></div>
				</div>
				<div class="name col-6">Минало събитие</div>
			</div>
		</a>
		<a href="" class="past event">
			<div class="row">
				<div class="date col-6">
					<div>2 февруари 2019</div>
					<div class="dot"></div>
				</div>
				<div class="name col-6">Минало събитие</div>
			</div>
		</a>
		<a href="" class="past event">
			<div class="row">
				<div class="date col-6">
					<div>1 януари 2019</div>
					<div class="dot"></div>
				</div>
				<div class="name col-6">Минало събитие</div>
			</div>
		</a>
	</div>
</section>