<section class="container main-nav-section contact-us" id="contact-us">
	<h1>
		<div class="header-icon"></div>
		свържи се с нас
	</h1>
	<div class="section-contact-us">
		<!--<form action="https://formspree.io/mkavrukova@gmail.com" method="POST" style="display: none">-->
			<!--<div class="js-float-label-wrapper">-->
				<!--<label for="name">Име</label>-->
				<!--<input type="text" name="name" id="name" />-->
			<!--</div>-->
			<!--<div class="js-float-label-wrapper">-->
				<!--<label for="email">Email</label>-->
				<!--<input type="email" name="email" id="email" />-->
			<!--</div>-->
			<!--<div class="js-float-label-wrapper">-->
				<!--<label for="message">Съобщение</label>-->
				<!--<textarea name="message" cols="30" rows="10" id="message"></textarea>-->
			<!--</div>-->
			<!--<div>-->
				<!--<input type="submit" value="Send">-->
			<!--</div>-->
		<!--</form>-->
		<a href="mailto:hello@spodari.org" class="write-to-us">Напиши ни съобщение</a>
		<a href="https://www.facebook.com/spodari/" class="follow-us" target="_blank">
			<div class="facebook-icon"></div>
			<div>последвай ни</div>
		</a>
	</div>
</section>