<header class="site-header" role="banner">
	<div class="container">
		<nav class="main-nav navbar navbar-expand-lg justify-content-end">
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainNavigation" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse justify-content-end default" id="mainNavigation">
				<ol class="nav">
					<li class="nav-item">
						<a href="#what-is-spodari" class="nav-link">{{ page.first-section-title }}</a>
					</li>
					<li class="nav-item">
						<a href="#what-is-next" class="nav-link">{{ page.second-section-title }}</a>
					</li>
					<li class="nav-item">
						<a href="#statistics" class="nav-link">{{ page.third-section-title }}</a>
					</li>
					<li class="nav-item">
						<a href="#calendar" class="nav-link">{{ page.fourth-section-title }}</a>
					</li>
					<li class="nav-item">
						<a href="#partners" class="nav-link">{{ page.fifth-section-title }}</a>
					</li>
					<li class="nav-item">
						<a href="#contact-us" class="nav-link">{{ page.sixth-section-title }}</a>
					</li>
					<li class="nav-item facebook-icon">
						<a href="https://www.facebook.com/spodari/" class="nav-link" target="_blank">Фейсбук</a>
					</li>
				</ol>
			</div>
		</nav>
	</div>
</header>