{% assign partners = site.partners | sort: 'order' %}
<section class="container main-nav-section partners" id="partners">
	<h1>
		<div class="header-icon"></div>
		{{ site.fifth-section-title }}
	</h1>
	<div class="section-content">
		<div class="row">
			{% for partner in partners %}
				{% assign file-path-array = partner.path | split: "/" %}
				{% assign file-path-name-and-extension-array = file-path-array.last | split: "." %}
				{% assign file-name = file-path-name-and-extension-array.first %}
				<div class="col-md-4">
					<a href="{{ partner.link-to-site }}" target="_blank">
						<div class="partner-image">
							<img src="/assets/images/partners/{{ file-name }}.png" alt="{{ partner.name }}">
						</div>
					</a>
				</div>
			{% endfor %}
		</div>
	</div>
</section>