{% assign file-path-array = page.path | split: "/" %}
{% assign file-path-name-and-extension-array = file-path-array.last | split: "." %}
{% assign file-name = file-path-name-and-extension-array.first %}

<section class="container main-nav-section event-details">
	<div class="section-content">
		<img src="{{site.url}}{{site.baseurl}}/assets/images/events/{{ file-name }}/main-image.jpg" alt="Past event poster">
		<div class="event-description">
			{{ content }}
		</div>
		<div class="event-summary">
			<div class="content">
				{{ page.event-summary }}
			</div>
		</div>
	</div>
</section>