<section class="container main-nav-section single-event-gallery">
	<div class="section-content">
		<div class="row">
			<div class="col-md-3">
				<img src="./assets/images/spodari-gallery-1.jpg" alt="SpoDari Gallery Image">
			</div>
			<div class="col-md-3">
				<img src="./assets/images/spodari-gallery-2.jpg" alt="SpoDari Gallery Image">
			</div>
			<div class="col-md-3">
				<img src="./assets/images/spodari-gallery-3.jpg" alt="SpoDari Gallery Image">
			</div>
			<div class="col-md-3">
				<img src="./assets/images/spodari-gallery-4.jpg" alt="SpoDari Gallery Image">
			</div>
		</div>
		<div class="row">
			<div class="col-md-3">
				<img src="./assets/images/spodari-gallery-5.jpg" alt="SpoDari Gallery Image">
			</div>
			<div class="col-md-3">
				<img src="./assets/images/spodari-gallery-6.jpg" alt="SpoDari Gallery Image">
			</div>
			<div class="col-md-3">
				<img src="./assets/images/spodari-gallery-7.jpg" alt="SpoDari Gallery Image">
			</div>
			<div class="col-md-3">
				<img src="./assets/images/spodari-gallery-8.jpg" alt="SpoDari Gallery Image">
			</div>
		</div>
	</div>
</section>