{% assign file-path-array = page.path | split: "/" %}
{% assign file-path-name-and-extension-array = file-path-array.last | split: "." %}
{% assign file-name = file-path-name-and-extension-array.first %}

{% if page.gallery-images-count > 0 %}
	<section class="container main-nav-section single-event-gallery">
		<div class="section-content">
			<a href="/assets/images/events/{{ file-name }}/gallery-image-1.jpg" class="gallery main-image" style="background-image: url('/assets/images/events/{{ file-name }}/gallery-image-1.jpg')">
			</a>
			<div class="gallery-container row" id="gallery">
			{% for i in (2..page.gallery-images-count) %}
				<div class="gallery-image-container">
					{% if forloop.index == 3 %}
						{% if page.gallery-images-count > 4 %}
							<a href="/assets/images/events/{{ file-name }}/gallery-image-{{ i }}.jpg"  style="background-image: url('/assets/images/events/{{ file-name }}/gallery-image-{{ i }}.jpg')" class="small-image">
							</a>
							<a class="more gallery" href="/assets/images/events/{{ file-name }}/gallery-image-{{ i }}.jpg">
								and {{ page.gallery-images-count | minus: 4 }} more
							</a>
						{% else %}
							<a href="/assets/images/events/{{ file-name }}/gallery-image-{{ i }}.jpg"  style="background-image: url('/assets/images/events/{{ file-name }}/gallery-image-{{ i }}.jpg')" class="gallery small-image">
							</a>
						{% endif %}
					{% else %}
						<a href="/assets/images/events/{{ file-name }}/gallery-image-{{ i }}.jpg"  style="background-image: url('/assets/images/events/{{ file-name }}/gallery-image-{{ i }}.jpg')" class="gallery small-image">
						</a>
					{% endif %}
				</div>
			{% endfor %}
			</div>
		</div>
	</section>
{% endif %}