<section class="container main-nav-section single-event-info">
	<h1>
		<div class="header-icon"></div>
		{{ page.title }}
	</h1>
	<div class="section-content">
		<div class="row">
			<div class="col-md-4 location">
				<div class="icon-container">
					<div class="icon"></div>
				</div>
				<div class="name">{{ page.location }}</div>
			</div>
			<div class="col-md-4 date">
				<div class="icon-container">
					<div class="icon"></div>
				</div>
				<div class="name">
					{% assign m = page.start-date | date: "%-m" %}
					{{ page.start-date | date: "%-d" }}
					{% case m %}
					{% when '1' %}януари
					{% when '2' %}февруари
					{% when '3' %}март
					{% when '4' %}април
					{% when '5' %}май
					{% when '6' %}юни
					{% when '7' %}юли
					{% when '8' %}август
					{% when '9' %}септември
					{% when '10' %}октомври
					{% when '11' %}ноември
					{% when '12' %}декември
					{% endcase %}
					{{ page.start-date | date: "%Y" }}
					{% if page.end-date %}
						<span>-</span>
						{% assign m = page.end-date | date: "%-m" %}
						{{ page.end-date | date: "%-d" }}
						{% case m %}
						{% when '1' %}януари
						{% when '2' %}февруари
						{% when '3' %}март
						{% when '4' %}април
						{% when '5' %}май
						{% when '6' %}юни
						{% when '7' %}юли
						{% when '8' %}август
						{% when '9' %}септември
						{% when '10' %}октомври
						{% when '11' %}ноември
						{% when '12' %}декември
						{% endcase %}
						{{ page.end-date | date: "%Y" }}
					{% endif %}
				</div>
			</div>
			<div class="col-md-4 contestants-type">
				<div class="icon-container">
					<div class="icon"></div>
				</div>
				<div class="name">{{ page.contestants-type }}</div>
			</div>
		</div>
	</div>
</section>
