<section class="container main-nav-section statistics" id="statistics">
	<h1>
		<div class="header-icon"></div>
		{{ site.third-section-title }}
	</h1>
	<div class="section-content d-none d-sm-none d-md-block d-lg-block d-xl-block">
		<div class="row">
			<div class="col-md-4 money">
				<div class="icon-container">
					<div class="icon"></div>
				</div>
				<div class="numerical numscroller" data-min="1" data-max="{{ page.donated-sum-number }}" data-delay="5" data-increment="{{ page.donated-sum-number | divided_by: 80 }}">{{ page.donated-sum-number }}</div>
				<div class="asset-name">Дарени левове</div>
			</div>
			<div class="col-md-4 minutes">
				<div class="icon-container">
					<div class="icon"></div>
				</div>
				<div class="numerical numscroller" data-min="1" data-max="{{ page.active-minutes-number }}" data-delay="5" data-increment="{{ page.active-minutes-number | divided_by: 80 }}">{{ page.active-minutes-number }}</div>
				<div class="asset-name">Активни минути</div>
			</div>
			<div class="col-md-4 events">
				<div class="icon-container">
					<div class="icon"></div>
				</div>
				<div class="numerical numscroller" data-min="1" data-max="{{ page.events-number }}" data-delay="5" data-increment="{{ page.events-number | divided_by: 4 }}">{{ page.events-number }}</div>
				<div class="asset-name">Събития</div>
			</div>
		</div>
	</div>
	<div class="section-content d-block d-sm-block d-md-none d-lg-none d-xl-none">
		<div class="row">
			<div class="col-12 money">
				<div class="icon-container">
					<div class="icon"></div>
				</div>
				<div class="numerical numscroller" data-min="1" data-max="{{ page.donated-sum-number }}" data-delay="5" data-increment="{{ page.donated-sum-number | divided_by: 80 }}">{{ page.donated-sum-number }}</div>
				<div class="asset-name">Дарени левове</div>
			</div>
		</div>
		<div class="row">
			<div class="col-6 minutes">
				<div class="icon-container">
					<div class="icon"></div>
				</div>
				<div class="numerical numscroller" data-min="1" data-max="{{ page.active-minutes-number }}" data-delay="5" data-increment="{{ page.active-minutes-number | divided_by: 80 }}">{{ page.active-minutes-number }}</div>
				<div class="asset-name">Активни минути</div>
			</div>
			<div class="col-6 events">
				<div class="icon-container">
					<div class="icon"></div>
				</div>
				<div class="numerical numscroller" data-min="1" data-max="{{ page.events-number }}" data-delay="5" data-increment="{{ page.events-number | divided_by: 4 }}">{{ page.events-number }}</div>
				<div class="asset-name">Събития</div>
			</div>
		</div>
	</div>
</section>