{% assign file-path-array = page.path | split: "/" %}
{% assign file-path-name-and-extension-array = file-path-array.last | split: "." %}
{% assign file-name = file-path-name-and-extension-array.first %}

<section class="container main-nav-section event-details">
	<div class="section-content">
		<img src="./assets/images/events/{{ file-name }}/event-poster.jpg" alt="Event poster">
		<div class="event-description">
			{{ content }}
		</div>
		<div class="event-action">
			<a href="mailto:hello@spodari.org">участвай</a>
		</div>
	</div>
</section>