<!DOCTYPE html>
<html prefix="og: http://ogp.me/ns#" lang="{{ page.lang | default: site.lang | default: "en" }}">
{% include head.html %}
<body>
<div class="overflowWrap">
	<!--This is needed to prevent horizontal scrolling on mobile-->
	{% include single-event-header.html %}
	{{ content }}
	{% include footer.html %}
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
	<script src="{{ "/assets/js/jquery.floatlabel.js" | relative_url }}"></script>
	<script src="{{ "/assets/js/jquery.nav.js" | relative_url }}"></script>
	<script src="{{ "/assets/js/jquery.numscroller-1.0.js" | relative_url }}"></script>
	<script src="{{ "/assets/js/main.js" | relative_url }}"></script>
</div>
</body>
</html>
